<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for post in posts %}
  <url>
    <loc>{{ post.permalink | uriencode }}</loc>
    {% if post.updated %}
    <lastmod>{{ post.updated | formatDate }}</lastmod>
    {% elif post.date %}
    <lastmod>{{ post.date | formatDate }}</lastmod>
    {% endif %}
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

  <url>
    <loc>{{ config.url | uriencode }}</loc>
    <lastmod>{{ sNow | formatDate }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>

  {% for tag in tags %}
  <url>
    <loc>{{ tag.permalink | uriencode }}</loc>
    <lastmod>{{ sNow | formatDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.2</priority>
  </url>
  {% endfor %}

  {% for cat in categories %}
  <url>
    <loc>{{ cat.permalink | uriencode }}</loc>
    <lastmod>{{ sNow | formatDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.2</priority>
  </url>
  {% endfor %}
</urlset>
<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="hAvfVPOF3UXAJkamR1m4qU1joERjoRbe6HpZHowRIsw" />
<meta charset="UTF-8"/>
<title>nesobaの作品集</title>
<style>
body {background-color: hsl(180, 40%, 70%);}
</style>
  </head>
<body>
  <div>
  <h1>nesobaのスクラッチ作品集</h1>
  <a href="https://scratch.mit.edu/studios/30817885/">公式ページ</a>
  <br>
  一番最初に投稿した「カノン」
  <br>
  <iframe src="https://scratch.mit.edu/projects/603359799/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
  </div>
</body>
</html>
